.vscode
Assset de test
Asset de test/projet de test.aep
Asset de test/Enregistrement automatique Adobe After Effects/projet de test enregistrement automatique 4.aep
Asset de test/projet de test.aep
.vscode/launch.json
